@import "../fonts/fonts.css";

//font
$base-font-family: 'Neue Montreal', sans-serif;
$base-font-weight: 400;
$base-font-size: 16px;

//colors
$white: #ffffff;
$black: #1F1F1F;
$light-black: #22242D;
$yellow: #E1C06E;

//paddings
$base-padding: 16px;

//width
$container-width: 1170px;

